<% include partials/header.ejs %>

<div class="container">
	<h2 class="text-center">Contact Information</h2>
	<hr>
	<div class="row text-center">
		<img id="contactPicture" src="../contactpicture.jpg">
	</div>
	<br><br>
	<div class="row text-center">
		<p>
			Website made by: Alyssa Williams
		</p>
	</div>
	<div class="row text-center">
		<p>
			For contact information, please visit my <a href="http://www.linkedin.com/in/ajwilliams12/">Linkedin.</a>
		</p>
	</div>
</div>

<% include partials/footer.ejs %>
