<% include partials/header.ejs %>

<div class="container">
	<div class="row">
		Website made by: Alyssa Williams
	</div>
	<div class="row">
		For contact information, please visit my <a href="http://www.linkedin.com/in/ajwilliams12/">Linkedin.</a>
	</div>
</div>

<% include partials/footer.ejs %>
