<% include partials/header.ejs %>

<% data.map(function(info){%>
	<li><a href="/info/<%=info.id%>"><img src="http://image.tmdb.org/t/p/w500/<%= info.poster_path%>"></a></li>

<% }) %>

<a href="" class="btn btn-primary"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></a>
<a href="/movie/family?page=<%= parseInt(page) + 1 %>" class="btn btn-primary"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a>

<% include partials/footer.ejs %>