<% include header %>

<% data.map(function(info){%>
	<li><a href="/info/<%=info.id%>"><%= info.title%></a><img src="<%= info.poster_path%>"></li>

<% }) %>

<a href="" class="btn btn-primary">Previous page</a>
<a href="/movie/happy?page=<%= parseInt(page) + 1 %>" class="btn btn-primary">Next page</a>

<% include footer %>