<% include partials/headerplain.ejs%>
	
<div class="col-md-6">
	<a href="/auth/login" class="btn btn-primary btn-lg">Login</a>
	<br><br>
	<a href="/auth/signup" class="btn btn-primary btn-lg">Signup</a>
</div>
<div class="panel panel-default col-md-6">
	<div class="panel-body text-center">
		Moodflix the place where you can search movies based on your mood or how you want to feel. 
	</div>
</div>

<% include partials/footerplain.ejs%>