<% include partials/headerplain.ejs%>
	
<div class="col-md-6">
	<a href="/auth/signup" class="btn btn-primary btn-lg">Signup</a>
	<a href="/auth/login" class="btn btn-primary btn-lg">Login</a>
</div>
<div class="panel panel-default col-md-6">
	<div class="panel-body text-center">
		Moodflix is a sight where you can find what you want to watch based on how you are feeling or what you are doing. You can also save a movie to watch later!
	</div>
</div>

<% include partials/footerplain.ejs%>