<% include partials/headerplain.ejs%>
<div class="center">
	<h1>Log in!</h1>
	<hr>
	<form class="form" method="post" action="/auth/login">
		<input type="text" class="form-control" placeholder="Enter your e-mail" name="email">
		<br><br>
		<input type="password" class="form-control" placeholder="Enter your password" name="password">
		<br><br>
		<input type="submit" value="Login" class="login btn btn-primary btn-lg">
	</form>
</div>
<% include partials/footerplain.ejs%>


