<% include partials/header.ejs %>
<br><br>
<div class="container-fluid">
	<h2 class="text-center">Choose a mood, any mood.</h2>
	<br><br>
	<br><br>
	<div class="row">
		<div class="col-md-4 text-center">
			<a href="/movie/happy" id="happy" class="box btn btn-primary btn-lg"><img src="/happy.png" class="happy-image"><br>Happy</a>
		</div>
		<div class="col-md-4 text-center">
			<a href="/movie/drama" id="drama" class="box btn btn-primary btn-lg"><img src="/drama.png" class="drama-image"><br>Dramatic</a>
		</div>
		<div class="col-md-4 text-center">
			<a href="/movie/adventure" id="adventure" class="box btn btn-primary btn-lg"><img src="/adventure.png" class="adventure-image"><br>Adventerous</a>
		</div>
	</div>
	<br><br>
	<br><br>
	<div class="row">
		<div class="col-md-4 text-center">
			<a href="/movie/indie" id="indie" class="box btn btn-primary btn-lg"><img src="/mustache.png" class="indie-image"><br>Indie</a>
		</div>
		<div class="col-md-4 text-center">
			<a href="/movie/romance" id="romance" class="box btn btn-primary btn-lg"><img src="/Romance.png" class="romance-image"><br>Romantic</a>
		</div>
		<div class="col-md-4 text-center">
			<a href="/movie/family" id="family" class="box btn btn-primary btn-lg"><img src="/Family_fun.png" class="family-image"><br>Family</a>
		</div>
	</div>
</div>

<% include partials/footer.ejs %>
