<% include partials/header.ejs %>
<br><br>
<br><br>
<div class="container">
	<div class="row">
		<div class="col-md-4 text-center">
			<a href="/movie/happy" class="box btn btn-primary btn-lg">Happy</a>
		</div>
		<div class="col-md-4 text-center">
			<a href="/movie/drama" class="box btn btn-primary btn-lg">Dramatic</a>
		</div>
		<div class="col-md-4 text-center">
			<a href="/movie/adventure" class="box btn btn-primary btn-lg">Adventerous</a>
		</div>
	</div>
	<br><br>
	<br><br>
	<div class="row">
		<div class="col-md-4 text-center">
			<a href="/movie/indie" class="box btn btn-primary btn-lg">Indie</a>
		</div>
		<div class="col-md-4 text-center">
			<a href="/movie/romance" class="box btn btn-primary btn-lg">Romantic</a>
		</div>
		<div class="col-md-4 text-center">
			<a href="/movie/family" class="box btn btn-primary btn-lg">Family</a>
		</div>
	</div>
</div>

<% include partials/footer.ejs %>