<% include header %>

<br><br>
<div class="container">
<div class="row">
	<a href="/happy" class="btn btn-primary col-md-4">Happy</a>
	<a href="#" class="btn btn-primary col-md-4">Dramatic</a>
	<a href="#" class="btn btn-primary col-md-4">Adventerous</a>
</div>
<br><br>
<div class="row">
	<a href="#" class="btn btn-primary col-md-4">Suspense</a>
	<a href="#" class="btn btn-primary col-md-4">Romantic</a>
	<a href="#" class="btn btn-primary col-md-4">Sad</a>
</div>
</div>

<% include footer %>