<% include partials/header.ejs %>

<br><br>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<a href="/movie/happy" class="box btn btn-primary">Happy</a>
		</div>
		<div class="col-md-4">
			<a href="/movie/drama" class="box btn btn-primary">Dramatic</a>
		</div>
		<div class="col-md-4">
			<a href="/movie/adventure" class="box btn btn-primary">Adventerous</a>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-4">
			<a href="/movie/indie" class="box btn btn-primary">Indie</a>
		</div>
		<div class="col-md-4">
			<a href="/movie/romance" class="box btn btn-primary">Romantic</a>
		</div>
		<div class="col-md-4">
			<a href="/movie/family" class="box btn btn-primary">Family</a>
		</div>
	</div>
</div>

<% include partials/footer.ejs %>