<% include header %>

<br><br>
<div class="container">
<div class="row">
	<a href="/movie/happy" class="btn btn-primary col-md-4">Happy</a>
	<a href="/movie/drama" class="btn btn-primary col-md-4">Dramatic</a>
	<a href="/movie/adventure" class="btn btn-primary col-md-4">Adventerous</a>
</div>
<br><br>
<div class="row">
	<a href="/movie/suspense" class="btn btn-primary col-md-4">Suspense</a>
	<a href="/movie/romance" class="btn btn-primary col-md-4">Romantic</a>
	<a href="/movie/family" class="btn btn-primary col-md-4">Family</a>
</div>

</div>

<% include footer %>