<% include partials/headerplain.ejs%>
<div class="row gap"></div>
	<div class="row">
		<div class="container center">
			<h1>Signup Here!</h1>
			<hr>
			<form class="form" method="post" action="/auth/signup">
				<input type="text" class="form-control" placeholder="Enter your name" name="name">
				<div class="row gap"></div>
				<input type="text" class="form-control" placeholder="Enter your email" name="email">
				<div class="row gap"></div>
				<input type="password" class="form-control" placeholder="Choose your password" name="password">
				<div class="row gap"></div>
				<input type="password" class="form-control" placeholder="Re-type your password" name="password2">
				<div class="row gap"></div>
				<input type="submit" value="Sign Up" class="signup btn btn-primary btn-lg">
		</form>
	</div>
</div>
<% include partials/footerplain.ejs%>


