/* Headers */
h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	color: white;
}

h2 {
	font-family: 'Roboto', sans-serif;
}

/* Signup and login page */
.panel-body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 30px;
}

.center {
	text-align: center;
}

.login,
.signup {
	font-family: 'Roboto', sans-serif;
  background-color: transparent;
  border-color: white;
  border: solid 2px;
}

body {
	background-color: #95a5a6;
}

.homepage {
  background-image: url(article-lights_camera_action.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/* Navigation bar styling */
nav {
	background-image: url(movies.jpg);
	background-size: contain;
}

.watchlist {
	font-family: 'Roboto', sans-serif;
	background: #c0392b;
	border-color: #c0392b;
}

.watchlist:hover {
  background: #ea6153;
  text-decoration: none;
}

.moodDropdown {
	font-family: 'Roboto', sans-serif;
}

.logoutButton {
	font-family: 'Roboto', sans-serif;
}

.username{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: white;
}

/* Mood buttons */
#romance,
#happy,
#adventure,
#indie,
#family,
#drama {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  border-color: #c0392b;
  font-size: 20px;
  background: #c0392b;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#romance:hover {
  background: #ea6153;
  text-decoration: none;
}

#happy:hover {
  background: #ea6153;
  text-decoration: none;
}

#adventure:hover {
  background: #ea6153;
  text-decoration: none;
}

#indie:hover {
  background: #ea6153;
  text-decoration: none;
}

#family:hover {
  background: #ea6153;
  text-decoration: none;
}

#drama:hover {
  background: #ea6153;
  text-decoration: none;
}

.posters {
	display: inline-block;
}

/* Movie information page */
.infoTitle,
.infoLink,
.infoPoster {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

.infoLink {
	font-size: 20px;
}

/* Favorite button*/
#favoriteButton {
	background-color: #c0392b;
	border-color: #c0392b;
}

#favoriteButton:hover {
  background: #ea6153;
  text-decoration: none;
}

/* Favorite list page */
.favoriteListItem {
	list-style: none;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

/* Contact page */
#contactPicture{
	height: 200px;
	width: 200px;
	border-radius: 50% 50%;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}
